/* Add CSS Styling */
.black-bg-white-text {
    background-color: #000000;
    color: #ffffff;
}

.yellow-bg {
    background-color: rgb(255,255,0);
}

.black-bg-white-text, .yellow-bg {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}