body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 800px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
  padding: 12px;
  margin: 12px 0px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}